<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class:"form-signup"}) do |f| %>
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email address" %>
  <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Password confirmation" %>
  <%= f.submit "sign up", class:"btn btn-lg btn-primary btn-block" %>
  <p class="mt-5 mb-3 text-muted"><%= render "devise/shared/links" %> &copy; 2019-2020</p>
<% end %>
