<p id="notice"><%= notice %></p>

<%= link_to 'New Booking', new_booking_path %>
<%= link_to 'Home', root_path %>

<h1>Manage Bookings</h1>

<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Aircraft</th>
    <th>Instructor</th>
  </tr>

  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.start_time %></td>
      <td><%= booking.end_time %></td>
      <td><%= booking.plane.registration %> (<%= booking.plane.typ %>)</td>
      <td><%= booking.instructor.name if booking.instructor.present? %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Delete', booking_path(booking),
              method: :delete,
              data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
