<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user.display_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Manage Bookings', bookings_path %>
