<% content_for :title do %>
  <h1 class="h2">Availability</h1>
<% end %>

<%= month_calendar events: @availabilities do |date, availability| %>
  <%= date %>

  <% @availabilities.each do |availability| %>
    <div class="availability"><ul>
        <li><%= availability.instructor.name if availability.instructor.present?%></li>
        <li><%= availability.calendar_time(:start_time, date) %> - <%= availability.calendar_time(:end_time, date) %></li>
    </ul></div>
  <% end %>
<% end %>
