<% content_for :title do %>
  <h1 class="h2">Bookings</h1>
<% end %>
<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>

  <% bookings.each do |booking| %>
    <div class="booking"><ul>
        <li><%= booking.user.email if booking.user.present?%></li>
        <li><%= booking.plane.registration if booking.plane.present? %></li>
        <li><%= booking.calendar_time(:start_time, date) %> - <%= booking.calendar_time(:end_time, date) %></li>
    </ul></div>
  <% end %>
<% end %>
